main {
    background: greenyellow;
}

h1 {
    margin: 32px;
}

section {
    margin: 16px;
}

li:nth-child(odd) {
    color: rgb(13, 10, 214)
}

h2, h3 {
    background-color: gold;
}

ul, ol, p {
    width: 80%;
}

.steps-item {
    margin: 16px;
}